<AuthorizeView>
    <Authorized>
        <a class="nav-link active" aria-current="page" href="/profile">Hello @userName!</a>
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row">
                <div class="col-md-12 offset-11">
                </div>
            </div>
        </div>
       <div class="center_content px-3">

            <a href="https://ecobrace.co.uk/login?redirectUri=/"
               class="loginBtn">
                Login
                <div class="circle">
                    <div class="innerCircle">
                        <img src="./images/icons/Users.svg" alt="" />
                    </div>
                </div>
            </a>
                </div>
   
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    public string userName = "Hello";

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;

            userName = state?.User?.Identity?.Name ?? string.Empty;
        }

        await base.OnInitializedAsync();
    }
}

